$primary-color: #2900D4;
$accent-color: #040307;
$body-text-color: #040307;
$white-text-color: #fff;
$menu-text-color: #2900D4;
$heading-font-family: 'LEMONMILK-Medium', arial, sans-serif;
$body-font-family: 'mabry-regular-pro', arial, sans-serif;
$accent-font-family: 'MabryPro-Bold', arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;