@use 'fonts';

$primary-color: #F39AC2;
$secondary-color: #362E69;
$accent-color: #040307;
$body-text-color: #F2E2E7;
$grey-text-color: #AEACAE;
$heading-font-family: 'sygma', times;
$body-font-family: 'mabry-regular-pro', arial, sans-serif;
$accent-font-family: 'MabryPro-Bold', arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;