//costum cursor styles
.cursor {
    position: fixed;
    width: 35px;
    height: 35px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #2900D4;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    transform: scale(10);
    background: white;
    mix-blend-mode: difference;
    border: 1px solid white;
}

//actually I dont like that light green when it blends, Ill do some changes the next semester

.grow-small {
    transform: scale(2.5);
}