:root {
    --plyr-color-main: rgb(138, 182, 77);
    --plyr-control-icon-size: 15px;
    --plyr-control-radius: 20px;
    --plyr-font-family: "Helvetica Neue", Helvetica, sans-serif;
    --plyr-control-spacing: 15px;
}