@use '../abstracts/variables' as v;

//base styles

body {
    margin: 0;
    padding: 0;
    font-family: v.$body-font-family;
    color: white;
}

input,
textarea {
    display: block;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: v.$heading-font-family;
    font-size: 25px;
    color: v.$body-text-color;
    margin-bottom: 20px;
}

p {
    line-height: 2em;
    font-size: 18px;
}

.spacer {
    margin-top: 30px;
    margin-bottom: 0px;
}

hr {
    border: 2px solid blue;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.txt-spacer {
    margin-top: 25px;
}

.heading {
    font-family: 'lemon_milkmedium';
}

.heading-alt {
    font-family: 'lemon_milkmedium';
    color: #171717;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    letter-spacing: 3px;
}

.sub-heading {
    font-family: 'mabry_probold';
}